@import "../../../../shared/styles/colors.scss";
@import "../../../../shared/styles/media.scss";
@import "../../../../shared/styles/common.scss";

.feed_right {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-top: 10px;
  column-gap: 29px;
}

.popular {
  margin-top: 20px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  &__header {
    font-family: Montserrat, "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: vw(16);
    line-height: vw(38);
    text-align: center;
    letter-spacing: -0.015em;
    color: $white;
    background-color: #ffa726e5;
    padding: vw(20) vw(40);
  }

  &__svg {
    width: 100%;
    margin-top: vw(-20);
  }
}

.card {
  width: 100%;
  font-family: Montserrat, "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $dark_grey;
  display: flex;
  flex-direction: column;
  padding: 7px;
  min-height: 200px;

  &.main__card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 50px;
  }
  &:hover {
    transform: scale(1.01);
  }
  h6 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 25px;
  }

  .text_content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .separator {
    width: 25px;
    height: 25px;
  }

  .crop {
    min-height: 280px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }
}

.reverse {
  flex-flow: row-reverse;
}

.column {
  flex-direction: column;
}

.reverse.column {
  flex-flow: column-reverse;
}

@media (max-width: 1025px) {
  .card {
    .crop {
      min-height: 235px;
    }
  }
}

@media all and (max-width: $layout-tablet) {
  .feed_right {
    margin-top: 5%;
    display: flex;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .popular {
    width: 100%;

    &__header {
      font-size: vw(50) !important;
    }
  }

  .card {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    margin-left: 0px;

    h6 {
      margin-right: 100px;
      margin-bottom: 12px !important;
    }

    p {
      line-height: 20px !important;
    }

    .crop {
      min-height: 275px;
      width: 296px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 20px;
    }

    .text_content {
      width: 296px;
      display: flex;
      flex-direction: column;
      margin-left: 0;
    }
  }

  .reverse {
    flex-flow: row-reverse;
  }

  .column {
    flex-direction: column !important;
  }

  .reverse.column {
    flex-flow: column-reverse;
  }
}

@media all and (max-width: $layout-mobile) {
  .feed_right {
    margin-top: 5%;
    display: flex !important;
    width: 100%;
    flex-wrap: wrap !important;
    margin-left: 10px !important;
    row-gap: 20px !important;
  }

  .popular {
    width: 100%;

    &__header {
      font-size: vw(50) !important;
      padding: 2.25vw 2.5vw;
      margin-left: 16px !important;
    }

    &__svg {
      margin-left: 16px !important;
    }
  }

  .card {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    margin-left: 0px;
    min-height: 100px !important;

    h6 {
      margin-right: 100px;
      margin-bottom: 13px !important;
    }

    .crop {
      min-height: 266px;
      width: 90% !important;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 20px;
    }

    .text_content {
      width: 90% !important;
      display: flex;
      flex-direction: column;
      margin-left: 2%;
    }
  }
}
@media (max-width: 650px) {
  .feed_right {
    display: flex !important;
    flex-wrap: wrap !important;
  }
  .card {
    .text_content {
      width: 450px;
    }
    .crop {
      width: 500px;
    }
  }
}

@media (max-width: 426px) {
  .card {
    .crop {
      min-height: 218px !important;
    }
    .text_content {
      margin-left: 0;
      width: 350px !important;
    }
  }
}
