@import '../../../shared/styles/colors.scss';
@import '../../../shared/styles/media.scss';

.card {
  display: flex;
  flex-direction: column;
  

  .card_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 288.57px;
      height: 288.57px;
      border-radius: 50%;
    }
  }

  .card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .card_info_header {
      padding-top: 43.17px;
      text-align: center;
      h2 {
        font-family: Montserrat,"Lato",sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        color: #101010;
        margin-bottom: 15px;
      }
      span {
        font-family: Montserrat,"Lato",sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px !important;
        font-weight: 500 !important;
        line-height: 34px !important;
        color: #3b3a39;
        text-align: center;
      }
      h3{

        font-family: Montserrat,"Lato",sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px ;
        line-height: 27px;
        min-height: 40px ;
        color: #3b3a39;
        text-align: center;
      }
      p {
        font-family: Montserrat,"Lato",sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #000000;
        margin-top: 10px;
      }
    }
    .card_info_bio {
      padding: 0 25px;
      margin-bottom: 20px;
      p {
        font-family: Montserrat,"Lato",sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #000000;
      }
    }

    .card_info_social {
      justify-self: flex-end;
      display: grid;
      justify-content: center;
      grid-auto-flow: column;
      column-gap: 19.73px;
      transition: 0.3s;
      a {
        img {
          height: 18px;
          width: auto;
        }
        &:hover {
          filter: invert(74%) sepia(54%) saturate(1299%) hue-rotate(335deg)
            brightness(99%) contrast(106%);
        }
      }
    }
  }
}

.mentor {
  &:hover {
    .card_avatar {
      img {
        filter: grayscale(1);
        opacity: 0.7;
        transition: 0.3s;
      }
      &::after {
        content: 'Узнать больше';
        font-family: Montserrat,"Lato",sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        min-height: 54px;
        color: $primary;
        text-align: center;
        position: absolute;
      }
    }
  }
}



.mini {
  .card_avatar {
    img {
      width: 100px;
      height: 100px;
    }
  }
  .card_info {
    .card_info_header {
      padding-top: 10.17px;
      padding-bottom: 10px;
      text-align: center;
      h2 {
        font-size: 14px;
        min-height: 28px;
        margin-bottom: 3px;
      }
      span {
        font-size: 12px;
        min-height: 24px;
      }
      p {
        font-size: 12px;
        margin-top: 0px;
      }
    }
  }
}

@media (max-width: 768px) {
  .card_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 250.57px !important;
      height: 250.57px !important;
      border-radius: 50%;
    }

  }
  .card_info{
    .card_info_header{
      padding-bottom: 0px !important;
    }
    .card_info_bio{
      margin-bottom: 20px !important;
    }
  }

}
  
@media (max-width: $layout-mobile){
  .card{
    margin-bottom: 36px;
  }
     .card_avatar{
       img{
         width: 220px !important;
         height: 220px !important;
       }
     }
     .card_info{
       height: 0 !important;
       margin-bottom: 46% !important;

       .card_info_header{
         padding-top: 25px !important;
       }
      span {
        font-size: 25px !important;
        font-weight: 500 !important;
        line-height: 34px !important;
      }
      h3{
        font-size: 21px !important;
        line-height: 27px;
      }
      p {
        font-size: 12px;
        margin-top: 0px;
      }
    }
     }
