@import "../../../../shared/styles/colors";
@import "../../../../shared/styles/media";

.join_team_block {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", "Lato", sans-serif;
  font-size: 16px;
  .text {
    letter-spacing: 0;
    color: $black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  }
  &.right {
    flex-direction: row-reverse;
  }

  .separator {
    width: 100px;
    flex-shrink: 0;
  }

  .text_block {
    text-align: justify;
    flex-grow: 1;
    width: 50%;
    .title {
      padding-bottom: 50px;
      font-family: Lato, "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 41px;
    }

    .text {
      padding-bottom: 20px;
      font-family: "Montserrat", "Lato", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      white-space: pre-wrap;
    }

    .button {
      padding-top: 40px;
      white-space: nowrap;

      a {
        color: inherit;
      }
    }
  }

  .media_block {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 50%;

    .avatar_wrapper {
      position: relative;
      margin-top: 45px;
    }

    img {
      width: 190px !important;
      height: 190px !important;
      border-radius: 50%;
    }

    .avatar_block {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      margin-left: 25px;

      .bio {
        position: relative;
        padding-top: 45px;
        padding-bottom: 45px;

        font-family: "Montserrat", "Lato", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        font-style: italic;
        &:before {
          display: inline-block;
          background: url("../../../../shared/icons/opening_quotes.svg")
            no-repeat;
          content: "";
          background-size: 20px;
          width: 20px;
          height: 20px;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:after {
          display: inline-block;
          background: url("../../../../shared/icons/closing_quotes.svg")
            no-repeat;
          content: "";
          background-size: 20px;
          width: 20px;
          height: 20px;
          position: absolute;
          bottom: 0;
          right: 20px;
        }
      }
    }

    .name_block {
      margin-top: 20px;
      border-top: 2px solid $main_yellow;
      padding-top: 10px;
      font-size: 28px;
      font-weight: 600;

      .member_job_position {
        font-size: 22px;
        padding-top: 10px;
        font-weight: 400;
      }
    }
  }
}
@media (max-width: $layout-laptop) {
  .join_team_block {
    flex-direction: column;

    .media_block {
      width: 100%;
      padding-top: 40px;

      .name_block {
        font-size: 19px;
        line-height: 18px;
        margin-top: 5px;
        .member_job_position {
          font-size: 17px;
          line-height: 12px;
        }
      }

      .avatar_block .bio {
        font-size: 16px !important;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 26px;

        &:after {
          right: 0px;
        }
      }

      .avatar_wrapper {
        width: 50%;
        margin-top: 0 !important;
      }

      .avatar_block {
        margin-bottom: 0px;
        margin-left: 33px;
      }
    }
    .text_block {
      width: 100%;

      .title {
        padding-bottom: 12px;
        font-size: 28px !important;
        padding-top: 17px !important;
      }
      .text {
        font-size: 18px !important;
        line-height: 28px !important;
        padding-top: 5px !important;
      }

      .button {
        padding-top: 20px;
      }
    }

    &.right {
      flex-direction: column;
    }
  }
}
@media all and (max-width: $layout-tablet) {
  .join_team_block {
    flex-direction: column;

    .media_block {
      width: 100%;
      padding-top: 40px;

      .name_block {
        font-size: 19px;
        line-height: 18px;
        margin-top: 5px;
        .member_job_position {
          font-size: 17px;
          line-height: 12px;
        }
      }

      .avatar_block .bio {
        font-size: 16px !important;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 26px;

        &:after {
          right: 0px;
        }
      }

      .avatar_wrapper {
        width: 50%;
        margin-top: 0 !important;
      }

      .avatar_block {
        margin-bottom: 0px;
        margin-left: 33px;
      }
    }
    .text_block {
      width: 100%;

      .title {
        padding-bottom: 12px;
        font-size: 28px !important;
        padding-top: 17px !important;
      }
      .text {
        font-size: 18px !important;
        line-height: 28px !important;
        padding-top: 5px !important;
      }

      .button {
        padding-top: 20px;
      }
    }

    &.right {
      flex-direction: column;
    }
  }
}

@media (max-width: $layout-mobile) {
  .media_block {
    flex-direction: column !important;
    .avatar_block {
      margin-left: 25px !important;
    }
    .avatar_wrapper {
      margin-left: 20% !important;
      margin-top: 0px !important;
    }
  }
  .text_block {
    .text {
      font-size: 16px !important;
      text-align: left;
    }
  }
}
