@import '../../../../shared/styles/colors';
@import '../../../../shared/styles/media.scss';

.header {
  position: sticky;
  z-index: 5;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  height: 100px;
  box-shadow: 5px -20px 40px rgba(59, 58, 57, 0.26);
  background-color: $background;
  &.transparent {
    background: none;
    box-shadow: none;
  }
}
.logo_nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 60px;
}
.logo {
  width: auto;
  height: 30px;
}
.nav_options {
  display: grid;
  grid-template-columns: repeat(8, auto);
  column-gap: 55px;
  list-style-type: none;
  align-items: center;
  font-family: 'Lato',"Montserrat",sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  font-weight: 500;
  margin-right: 55px;
  text-transform: uppercase;
  .about{
    padding: 8px;
    margin-right: -20px;
  }
}
.nav_option {
  display: grid;
  grid-template-columns: repeat(8, auto);
  column-gap: 55px;
  list-style-type: none;
  align-items: center;
  font-family: 'Lato',"Montserrat",sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  font-weight: 500;
  margin-right: 55px;
  text-transform: uppercase;
  .about{
    padding: 8px;
    margin-right: -20px;
  }
}
.mobile_option {
  display: none;
}

.option:hover {
  .header_nav__submenu {
    display: block;
  }
}

.lang_container {
  margin-left: 50px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 50px;
}

.mobile_menu {
  display: none;
}

.lang_selector select {
  font-family: Lato;
  min-width: 35px;
  background-color: white !important;

  .MuiSelectIcon-root {
    font-size: 30px;
  }
}


.lang_form_control {
  display: flex;
  justify-content: center;
  margin-right: 40px;
  margin-left: 60px;
  min-width: 40px;
}

.active {
  border-bottom: 1px solid #f7a60c;
}

.header_nav__submenu {
  z-index: 999;
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 200px;
  border: 1px solid #f7a60c;
  box-sizing: border-box;
  border-radius: 3px;
  top: 125%;
}

.header_nav__submenuitem {
  font-family: Montserrat,"Lato",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 35px;
  color: #3b3a39;
  padding: 0px 3px;
  text-transform: none;

  &:hover {
    background: #f7a60c;
    a {
      color: white !important;  text-decoration: none;
    }
  }
}

.about{
  position: relative
}

.about:hover::after {
  content: '';
  display: block;
  border: 8px solid transparent;
  border-bottom-color: #f7a60c;
  position: absolute;
  bottom: -25%;
  left: 50%;
  margin-left: -4px;
}
@media (max-width: 1379px) {
  .nav_option{
    grid-column-gap: 4px;
    column-gap: 41px;
  }
}
@media (max-width: 1268px) {
  .nav_option{
    grid-column-gap: 4px;
    column-gap: 22px;
  }
}
@media screen and (max-width: 1025px) {
  .nav_options{
    margin-left: -50px;
    margin-right: 10px;
    font-size: 16px;
    gap: 15px;
    .about{
      padding: 15px;
      margin: 0 -10px;
    }
  }
  .nav_option{
    font-size: 17px;
    margin-right: 0;
  }
  .logo_container{
    padding-right: 35px;
  }
}

@media (max-width: 1000px) {
  .header {
    padding: 15px 20px;
    background: rgba(250, 183, 83, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    height: 80px;
    width: 100%;
  }
  .nav_options {
    display: flex;
    width: 101.5vw;
    height: 200vw;
    position: absolute;
    padding-bottom: 40px;
    top: 70px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    align-items: flex-start;
  }
  .nav_option{
    display: none;
  }
  .nav_options.active {
    background: $background;
    top: 56px !important;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    margin-left: -90px;
    padding-left: 23%;
    border-bottom: none;
  }

  .active {
    border-bottom: none;

  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  .logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
  }
  .logo {
    width: auto;
    height: 30px;
  }

  .menu_icon {
    width: 40;
    height: 30px;
  }

  .mobile_menu {
    display: block;
    margin-right: 32px;
  }

  .about:hover::after{
    display: block;
  }
  .option:hover {
    .header_nav__submenu {
      display: block;
    }
  }
}
@media (max-width: 426px) {
  .header{
    width:100%;
  }
  .nav_options.active {
    background: $background;
    top: 58px;
    left: 8px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    margin-left: -90px;
    padding-left: 40%;
    border-bottom: none;
    padding-top: 40px !important;
  }

  
  .option {
    display: flex;
    justify-content: flex-start;
    height: 10vw;
    padding: 30px 0px;
    a{
      font-size: 14px !important;
    }
  }

  .mobile_menu {
    display: block;
    margin-right: 32px;
  }

  .about:hover::after{
    display: block;
  }
  .option:hover {
    .header_nav__submenu {
      display: block;
    }
  }
}
